/* 
1.- Posicionamiento
2.- Box model
3.- tipografia
4.-visuales
5.- otros
*/

:root {
  --negro-suave: #404040;
  --rojito: #ff3936;
  --blanquito: #ffebee;
  --azul-suave: #6eb8f5;
  --grey: #bababa;
  --balanco-suave: #faf8f7;
  --sombra-negrita: rgba(0, 0, 0, 0.5);
}
html {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Dm sans", sans-serif;
  /* overflow-x: hidden; */
}
body {
  margin: 0px;
  padding: 0px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Header*/
.header {
  width: 100%;
  height: 10vh;
  background-color: var(--rojito);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.header img {
  width: 35px;
  height: 35px;
}
h1 {
  color: var(--balanco-suave);
  margin: 0;
}
.grid {
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 998;
  opacity: 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
  margin: 0;
}
input:checked ~ .burger::after {
  transform: rotateZ(145deg);
  top: 0.4rem;
}
input:checked ~ .burger::before {
  transform: rotateZ(-145deg);
  top: 0.4rem;
}
input:checked ~ .burger {
  background-color: transparent;
}

.burger {
  background-color: var(--balanco-suave);
  width: 30px;
  height: 7px;
  position: absolute;
  right: 1rem;
  top: 1.6rem;
  border-radius: 15%;
  transition: background-color 0.3s ease-in;
}
.burger::after {
  content: "";
  background-color: var(--balanco-suave);
  width: 30px;
  height: 7px;
  position: absolute;
  top: 0.8rem;
  border-radius: 15%;
  transition: transform 0.5s ease-in;
}
.burger::before {
  content: "";
  background-color: var(--balanco-suave);
  width: 30px;
  height: 7px;
  position: absolute;
  top: -0.8rem;
  border-radius: 15%;
  transition: transform 0.5s ease-in;
}
/* .nav {
  padding: 1rem;
}
.nav a {
  color: var(--balanco-suave);
  padding: 1rem;
  text-decoration: none;
}
.nav a:hover {
  background-color: var(--azul-suave);
} */
/* Main*/
.main {
  background-image: url(../asset/hipertextual-2010-decada-que-cine-dio-todo-perdio-todo-2019328882.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 375px;
}
/* .contenedor {
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
} */
.contenedor {
  padding: 1rem;
  margin: 0 auto;
}
p {
  color: var(--balanco-suave);
  text-align: center;
  margin: 0;
}
.formulario {
  background-color: var(--sombra-negrita);
  color: var(--blanquito);
  height: 60%;
  width: 80vw;
  border-radius: 10px;
  border: 2px solid var(--azul-suave);
  max-width: 768px;
  margin: 0 auto;
}
.formulario label {
  line-height: 1.5em;
}
.formulario p {
  line-height: 1.5em;
}
textarea {
  width: 100%;
  height: 30%;
}
.formulario form {
  padding: 1.3em;
  width: 100%;
  height: 100%;
  max-width: 425px;
  margin-left: auto;
  margin-right: auto;
}
.boton {
  width: 25vw;
  font-family: "Dm sans", sans-serif;
  border-radius: 20px;
  background-color: var(--azul-suave);
  color: var(--balanco-suave);
}

/*Medias querys*/

@media screen and (min-width: 1024px) {
  .header img {
    width: 50px;
    height: 50px;
  }
  .header h1 {
    font-size: 2.8em;
  }
  .contenedor article {
    font-size: 1.5em;
    margin-top: 7.5em;
  }
  .formulario form {
    font-size: 1.2em;
  }
}
